.App {
    text-align: center;
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-header {
    background-color: transparent;
    padding: 20px;
}

button {
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
}

body {
    margin: 0;
}
